<div class="container ">
    <h1 class="text-center margin-top">Artículos</h1>
    <div *ngFor="let publicacion of publicaciones">

        <h2>{{publicacion.nombre}}</h2>
        <img class="article__img" src={{publicacion.imagen}} alt="">
        <p>{{publicacion.articulo}}</p>
        <h3>Tags</h3>
        <ul  class="article__tags">
            <li *ngFor="let etiqueta of publicacion.etiquetas" class="article__tag">
                {{etiqueta}}
            </li>
        </ul>
        
    </div>
</div>